<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyCryptoSummer: Week 2</title>
  <meta name="description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto" />
  <meta property="og:title" content="MyCryptoSummer: Week 2" />
  <meta property="og:description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://summer.mycrypto.com/" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og-2.jpg" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og.jpg" />
  <meta name="twitter:title" content="#MyCryptoSummer">
  <meta name="twitter:description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@MyCrypto">
  <meta name="twitter:creator" content="@MyCrypto">
  <meta name="twitter:image" content="https://summer.mycrypto.com/mycryptosummer-og.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="https://summer.mycrypto.com/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://summer.mycrypto.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://summer.mycrypto.com/favicon-16x16.png">
  <link rel="manifest" href="https://summer.mycrypto.com/site.webmanifest">
  <link rel="mask-icon" href="https://summer.mycrypto.com/safari-pinned-tab.svg" color="#057a97">
  <meta name="msapplication-TileColor" content="#057a97">
  <meta name="theme-color" content="#057a97">
  <script type="text/javascript">var _paq = window._paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u="https://analytics.mycryptoapi.com/";_paq.push(['setTrackerUrl', u+'matomo.php']);_paq.push(['setSiteId', '10']);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);})();</script>
</head>

<body class="week week__2">
  <img src="<%= require('../assets/ill__week--2-1.svg') %>" width="100%" height="auto" class="ill__week--2-1" data-weekstep="1" />
  <img src="<%= require('../assets/ill__week--2-2.svg') %>" width="100%" height="auto" class="ill__week--2-2" data-weekstep="2" />
  <img src="<%= require('../assets/ill__week--2-3.svg') %>" width="100%" height="auto" class="ill__week--2-3" data-weekstep="3" />
  <header class="week__header">
    <a href="/" class="week__logo--1">
      <img width="150" height="auto" src="<%= require('../assets/mycryptosummer__logo.svg') %>" alt="MyCryptoSummer Logo">
    </a>
    <img class="week__progress" src="<%= require('../assets/week__progress--2.svg') %>" alt="MyCryptoSummer Progress">
    <div class="week__filler--1"></div>
  </header>
  <main class="week__main">
    <div class="week__inner-wrapper">
      <div class="week__inner">
        <h1 class="week__title">
            <span class="sr-only">Week 2</span>
            <img src="<%= require('../assets/week__title--2.svg') %>" width="160" height="62" alt="Week 2">
        </h1>
        <article class="week__text" data-weekstep="1" data-state="selected">
          <p>Ah, we’ve finally set sail upon the <strong>Open-Source Ocean</strong>. Full of Merge Mackerel, README Rays, and Octocats, this ocean spans a great distance and can take months to sail across.</p>
          <p>Thankfully, we don’t have to go that far and it shouldn’t take more than a few days to arrive…as long as everything goes according to plan. </p>
          <p>I’ve heard a few legends of creatures deep within these waters. Terrible tales of <em>horrific creatures</em>. </p>
          <p>But I’m sure we’ll be just fine.</p>
          <p>And hey, nice headgear! You wear it well!</p>
        </article>
        <article class="week__text" data-weekstep="2">
          <p>You want to hear a bit more about The Land Of Magical Internet Money while we’re waiting? Well of course! I’d be happy to oblige.</p>
          <p>The first thing that one receives in our land is a magical internet money wallet. It’s a <strong>digital wallet</strong> that is identified by its <strong>public address</strong> (sort of like your shipping address or email address). Paired to that public key is a <strong>private key</strong>, which is the secret that allows you to manage the assets tied to your address! You don’t want to share this key with anyone - it should remain private. And whatever you do, don’t lose that private key. If you lose your private key, you’ll lose access to your assets.</p>
          <p>You should get familiar with the concept of <strong>custody</strong>. The person or organization that holds onto your wallet’s private key has custody of your private key, and therefore custody of your assets. In the world you’re familiar with, your bank likely has custody of your funds. Now, that isn’t the worst thing in the world because there is usually insurance - but insurance has its limits too.</p>
          <p>In The Land Of Magical Internet Money, some of our people interact with non-custodial services for the management of their treasure, and some still prefer custodial services. It depends on their level of experience and how comfortable they are holding onto their own funds. </p>
          <p>Got all that? This information is key for successfully getting along with our people, so I’ll be happy to repeat this information as often as you need.</p>
          <p>Hey, do you see that purple thing in the distance…? What in the… is that a bird? A plane…?</p>
          <p>No, it’s...</p>
        </article>
        <article class="week__text" data-weekstep="3">
          <p>It’s the <strong>Security Enhancement Calamari</strong>!!! </p>
          <p>I can't believe the SEC is real?! I heard legend of this regulatory rascal but I didn’t think the stories were true! I didn’t want to concern you earlier but, clearly, now is an appropriate time to be concerned!</p>
          <p>Quick, grab something to help fight off the SEC! You have a few options:</p>
          <p>First is the <strong>Cutlass</strong>. To receive this, download the <strong>MyCrypto Desktop App</strong> (non-custodial) to create and access all the wallets you’ll ever need.</p>
          <p>Next, there’s the <strong>Water Blaster</strong>. For this item, you’ll need to head over to Coinbase (custodial), where you can easily purchase your first crypto!</p>
          <p>Lastly, is the <strong>Spicy Cocktail</strong>. Check out our <strong>Hardware Wallet Recommendations</strong> and get one for yourself! Hardware wallets are way more than a USB drive—they actually secure your coins.</p>
          <p>Take your pick and get to the battle! </p>
          <div class="week__item-wrapper">
            <div class="week__item" data-item="1" data-week="2">
              <div class="week__item-name" data-item="1">Cutlass</div>
              <img class="week__item-img" data-item="1" src="<%= require('../assets/item__2-1.svg') %>" width="300" height="300">
              <a class="week__button" data-item="1" data-week="2" href="https://download.mycrypto.com" target="_blank" rel="noopener noreferrer">Download MyCrypto Desktop
</a>
            </div>
            <div class="week__item" data-item="2" data-week="2">
              <div class="week__item-name" data-item="2">Water Blaster</div>
              <img class="week__item-img" data-item="2" src="<%= require('../assets/item__2-2.svg') %>" width="300" height="300">
              <a class="week__button" data-item="2" data-week="2" href="https://coinbase-consumer.sjv.io/c/1375906/564368/9251" target="_blank" rel="noopener noreferrer">Buy Crypto On Coinbase</a>
            </div>
            <div class="week__item" data-item="3" data-week="2">
              <div class="week__item-name" data-item="3">Spicy Cocktail</div>
              <img class="week__item-img" data-item="3" src="<%= require('../assets/item__2-3.svg') %>" width="300" height="300">
              <a class="week__button" data-item="3" data-week="2" href="https://support.mycrypto.com/staying-safe/hardware-wallet-recommendations" target="_blank" rel="noopener noreferrer">Get A Hardware Wallet</a>
            </div>
          </div>
        </article>
        <div class="week-controls__wrapper">
          <a class="week-controls__prev">
            <img src="<%= require('../assets/icon__prev.svg') %>" width="auto" height="16px" />
            &nbsp; Previous
          </a>
          <div class="week__dots">
            <a class="week__dot" data-weekstep="1" data-state="selected"></a>
            <a class="week__dot" data-weekstep="2"></a>
            <a class="week__dot" data-weekstep="3"></a>
          </div>
          <a class="week-controls__next">
              Next &nbsp;
              <img src="<%= require('../assets/icon__next.svg') %>" width="auto" height="16px" />
          </a>
        </div>
      </div>
    </div>
  </main>
  <div class="week-ship__wrapper">
    <img class="week-ship__image" src="<%= require('../assets/ill__week--2.svg') %>" width="100%" height="auto">
  </div>
    <div class="character__wrapper">
      <img inline src="src/assets/character.svg">
    </div>
    <div class="week-ship__wrapper">
      <img class="week-ship__image" src="<%= require('../assets/ill__week--2-top.svg') %>" width="100%" height="auto">
    </div>

      <section class="modal">
        <div class="modal__wrapper">
          <a href="#" class="modal__close">
        <img class="modal__button-icon" src="<%= require('../assets/icon__close.svg') %>" width="24" height="24">
      </a>
          <div class="modal__inner">
            <h3 class="modal__title">Congrats!</h3>
            <p class="modal__text"></p>
            <img class="modal__item" src="" width="300" height="300">
            <p class="modal__cta">Share your progress and new item with <a href="https://twitter.com/search?q=%23MyCryptoSummer" target="_blank" rel="noopener noreferrer">#MyCryptoSummer</a> to be entered to win prizes!</p>
            <a class="modal__button" href="#" rel="noopener noreferrer" target="_blank">
          <img class="modal__button-icon" src="<%= require('../assets/icon__twitter.svg') %>" width="24" height="24">
          Share on Twitter
        </a>
        <a class="modal__alt-cta" href="week-3.html">Continue to Week 3!</a>
          </div>
        </div>
      </section>
      <div class="guide__2-1" data-weekstep="1">
        <img src="<%= require('../assets/guide--2-1.svg') %>" width="100%" height="auto" />
        </div>
        <div class="guide__2-2" data-weekstep="2">
          <img src="<%= require('../assets/guide--2-2.svg') %>" width="100%" height="auto" />
        </div>
          <div class="guide__2-3" data-weekstep="3">
            <img src="<%= require('../assets/guide--2-3.svg') %>" width="100%" height="auto" />
        </div>
</body>

</html>
