<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyCryptoSummer: Week 1</title>
  <meta name="description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto" />
  <meta property="og:title" content="MyCryptoSummer: Week 1" />
  <meta property="og:description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://summer.mycrypto.com/" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og-2.jpg" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og.jpg" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og-2.png" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og.png" />
  <meta name="twitter:title" content="#MyCryptoSummer">
  <meta name="twitter:description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@MyCrypto">
  <meta name="twitter:creator" content="@MyCrypto">
  <meta name="twitter:image" content="https://summer.mycrypto.com/mycryptosummer-og.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="https://summer.mycrypto.com/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://summer.mycrypto.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://summer.mycrypto.com/favicon-16x16.png">
  <link rel="manifest" href="https://summer.mycrypto.com/site.webmanifest">
  <link rel="mask-icon" href="https://summer.mycrypto.com/safari-pinned-tab.svg" color="#057a97">
  <meta name="msapplication-TileColor" content="#057a97">
  <meta name="theme-color" content="#057a97">
  <script type="text/javascript">var _paq = window._paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u="https://analytics.mycryptoapi.com/";_paq.push(['setTrackerUrl', u+'matomo.php']);_paq.push(['setSiteId', '10']);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);})();</script>
</head>

<body class="week week__1">
  <header class="week__header">
    <a href="/" class="week__logo--1">
          <img width="150" height="auto" src="<%= require('../assets/mycryptosummer__logo.svg') %>" alt="MyCryptoSummer Logo">
        </a>
    <img class="week__progress" width="725" height="auto" src="<%= require('../assets/week__progress--1.svg') %>" alt="MyCryptoSummer Progress">
    <div class="week__filler--1"></div>
  </header>
  <main class="week__main">
    <div class="week__inner-wrapper">
      <div class="week__inner">
        <h1 class="week__title">
            <span class="sr-only">Week 1</span>
            <img src="<%= require('../assets/week__title--1.svg') %>" width="160" height="62" alt="Week 1">
        </h1>
        <article class="week__text" data-weekstep="1" data-state="selected">
          <p>Hey, you. You’re finally awake. Sorry for the confusion, but you’re the only one that can help!</p>
          <p>I desperately need to get back to <strong>The Land Of Magical Internet Money</strong>, and thankfully you showed up.</p>
          <p>What is The Land Of Magical Internet Money? Oh, I’ll tell you all about it.</p>
        </article>
        <article class="week__text" data-weekstep="2">
          <p>In The Land Of Magical Internet Money, we’ve developed blockchain technology, and as a result, cryptocurrency!</p>
          <p>Our <strong>blockchain</strong> is an efficient, transparent method of digitally storing transaction records. The data within our records cannot be modified or deleted, it can only be added to. It’s also not governed by any single body, which makes it <strong>decentralized</strong>.</p>
          <p><strong>Cryptocurrency</strong> is a token platform built on top of the blockchain. These tokens are the basis for sending transactions on the blockchain - some of these tokens carry value and some carry information. The benefits of utilizing this technology for our people are far-reaching. We’re able to transact with those all across our land, regardless of their location, and without unnecessary fees. Transactions are also nearly instantaneous.</p>
          <p>And this is just the start! As we continue to use and develop this technology, we discover more and more useful scenarios.</p>
          <p>Alright, that’s enough for now. We have a serious task at hand.</p>
        </article>
        <article class="week__text" data-weekstep="3">
          <p>So, will you help me get back to The Land Of Magical Internet Money? If so, I have a few items which may assist you on our journey.</p>
          <p>First is the <strong>Pirate Hat</strong>, obtained by <strong>Downloading the Brave Browser</strong>, which is a secure, private, fast browser and a great companion for anyone&mdash;especially those traversing the world of blockchain!</p>
          <p>The second is the <strong>Snorkel</strong>! Head over to <strong>Coinbase’s Earn page</strong>. This will walk you through important concepts and get you some free crypto for your efforts.</p>
          <p>Lastly is the <strong>Umbrella Hat</strong>. Explore the <strong>EthHub documentation</strong> to learn everything you need to know about the Ethereum blockchain.</p>
          <p>Take whichever one you want. Get some rest and we’ll set sail soon!</p>
          <div class="week__item-wrapper">
            <div class="week__item" data-item="1" data-week="1">
              <div class="week__item-name" data-item="1">Pirate Hat</div>
              <img class="week__item-img" data-item="1" src="<%= require('../assets/item__1-1.svg') %>" width="300" height="300">
              <a class="week__button" data-item="1" data-week="1" href="#" data-href="https://brave.com/myc770">Download or Share The Brave Browser</a>
            </div>
            <div class="week__item" data-item="2" data-week="1">
              <div class="week__item-name" data-item="2">Snorkel</div>
              <img class="week__item-img" data-item="2" src="<%= require('../assets/item__1-2.svg') %>" width="300" height="300">
              <a class="week__button" data-item="2" data-week="1" href="#" data-href="https://coinbase-consumer.sjv.io/c/1375906/625298/9251">Earn Crypto With Coinbase</a>
            </div>
            <div class="week__item" data-item="3" data-week="1">
              <div class="week__item-name" data-item="3">Umbrella Hat</div>
              <img class="week__item-img" data-item="3" src="<%= require('../assets/item__1-3.svg') %>" width="300" height="300">
              <a class="week__button" data-item="3" data-week="1" href="#" data-href="https://docs.ethhub.io/">Learn About Ethereum On EthHub</a>
            </div>
          </div>
        </article>
        <div class="shell__wrapper">
          <img src="<%= require('../assets/shell.svg') %>" width="80" height="43">
        </div>
          <div class="character__wrapper">
            <img inline src="src/assets/character.svg">
        </div>
            <div class="week-controls__wrapper">
              <a class="week-controls__prev">
            <img src="<%= require('../assets/icon__prev.svg') %>" width="auto" height="16px">
            &nbsp; Previous
          </a>
              <div class="week__dots">
                <a class="week__dot" data-weekstep="1" data-state="selected"></a>
                <a class="week__dot" data-weekstep="2"></a>
                <a class="week__dot" data-weekstep="3"></a>
              </div>
              <a class="week-controls__next">
              Next &nbsp;
              <img src="<%= require('../assets/icon__next.svg') %>" width="auto" height="16px">
          </a>
            </div>
          </div>
        </div>
        <div class="guide__wrapper">
          <img src="<%= require('../assets/guide.svg') %>" width="100%" height="auto">
    </div>
          <div class="guide__wrapper--mobile">
            <img src="<%= require('../assets/guide--mobile.svg') %>" width="100%" height="auto">
    </div>
  </main>
  <section class="modal">
    <div class="modal__wrapper">
      <a href="#" class="modal__close">
        <img class="modal__button-icon" src="<%= require('../assets/icon__close.svg') %>" width="24" height="24">
      </a>
      <div class="modal__inner">
        <h3 class="modal__title">Congrats!</h3>
        <p class="modal__text"></p>
        <img class="modal__item" src="" width="300" height="300">
        <p class="modal__cta">Share your progress and new item with <a href="https://twitter.com/search?q=%23MyCryptoSummer" target="_blank" rel="noopener noreferrer">#MyCryptoSummer</a> to be entered to win prizes!</p>
        <a class="modal__button" href="#" rel="noopener noreferrer" target="_blank">
          <img class="modal__button-icon" src="<%= require('../assets/icon__twitter.svg') %>" width="24" height="24">
          Share on Twitter
        </a>
        <a class="modal__alt-cta" href="week-2.html">Continue to Week 2!</a>
      </div>
    </div>
  </section>
</body>

</html>
