<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyCryptoSummer: Week 3</title>
  <meta name="description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto" />
  <meta property="og:title" content="MyCryptoSummer: Week 3" />
  <meta property="og:description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://summer.mycrypto.com/" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og-2.jpg" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og.jpg" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og-2.png" />
  <meta property="og:image" content="https://summer.mycrypto.com/mycryptosummer-og.png" />
  <meta name="twitter:title" content="#MyCryptoSummer">
  <meta name="twitter:description" content="Learn more about blockchain and cryptocurrency in a fun, digestible manner! Brought to you by MyCrypto">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@MyCrypto">
  <meta name="twitter:creator" content="@MyCrypto">
  <meta name="twitter:image" content="https://summer.mycrypto.com/mycryptosummer-og.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="https://summer.mycrypto.com/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://summer.mycrypto.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://summer.mycrypto.com/favicon-16x16.png">
  <link rel="manifest" href="https://summer.mycrypto.com/site.webmanifest">
  <link rel="mask-icon" href="https://summer.mycrypto.com/safari-pinned-tab.svg" color="#057a97">
  <meta name="msapplication-TileColor" content="#057a97">
  <meta name="theme-color" content="#057a97">
  <script type="text/javascript">var _paq = window._paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u="https://analytics.mycryptoapi.com/";_paq.push(['setTrackerUrl', u+'matomo.php']);_paq.push(['setSiteId', '10']);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);})();</script>

</head>

<body class="week week__3">

  <header class="week__header">
    <a href="/" class="week__logo--1">
      <img width="150" height="auto" src="<%= require('../assets/mycryptosummer__logo.svg') %>" alt="MyCryptoSummer Logo">
    </a>
    <img class="week__progress"  width="725" height="auto" src="<%= require('../assets/week__progress--3.svg') %>" alt="MyCryptoSummer Progress">
    <div class="week__filler--1"></div>
  </header>

  <main class="week__main">
    <div class="week__inner-wrapper">
      <div class="week__inner">
        <h1 class="week__title">
          <span class="sr-only">Week 3</span>
          <img src="<%= require('../assets/week__title--3.svg') %>" width="160" height="62" alt="Week 3">
        </h1>
        <article class="week__text" data-weekstep="1" data-state="selected">
          <p>You’ve defeated the Calamari! Oh, thank goodness, I was a bit worried for a moment there but it all worked out.</p>
          <p>As it so happens, we’ve also landed right where we needed to! We’re now on <strong>Shitcoin Shores</strong>, and we’re one step closer to getting back to The Land Of Magical Internet Money.</p>
        </article>
        <article class="week__text" data-weekstep="2">
          <p>You’ve picked up a lot of knowledge along the way and now have a good grasp of blockchain and cryptocurrency, and even how to acquire cryptocurrency and store it in a wallet! Now, let’s learn about a few ways to use your cryptocurrency.</p>
          <p><strong>You can play games!</strong> More and more cryptocurrency-based games are being developed and include unique concepts like <a href="https://blog.mintable.app/2019/04/09/what-is-an-nft-erc-721-token-on-the-blockchain/" target="_blank" rel="noopener noreferrer">NFTs</a>, which could very well be the future of gaming.</p>
          <p><strong>You can earn more crypto!</strong> One of the biggest movements in Ethereum is with Decentralized Finance, or #DeFi, which is growing in popularity and allows you to do things such as gain interest on your cryptocurrency.</p>
          <p><strong>You can share your crypto with the world!</strong> One of the best things you can do with your cryptocurrency is give some to another, whether it’s through charity or a tipping service, or just sending some to a friend to get them started on their journey.</p>
          <p>Ah, there’s the entrance to the forest! It’s full of interesting creatures and foliage but I’ve a feeling that the worst is behind us.</p>
        </article>
        <article class="week__text" data-weekstep="3">
          <p>Okay, we’re almost into the forest. We should be able to pass through with relative ease, but just in case, here are a few pieces of equipment that may be beneficial to add to your arsenal.</p>
          <p>The first is the Pirate Jacket. To receive this, head over to <strong>GiveCrypto</strong>, a nonprofit that distributes cryptocurrency to people living in poverty.</p>
          <p>Next, there’s the Scuba Suit. For this item, you’ll need to visit <strong>Compound Finance</strong>, where you can start gaining interest on your cryptocurrency!</p>
          <p>The last option is the Water Wings. To get this item, check out the <strong>Gods Unchained</strong> game and redeem your first free pack of cards! <em>Note: Your free cards will be given once create an account and initiate the game download.</em></p>
          <div class="week__item-wrapper">
            <div class="week__item" data-item="1" data-week="3">
              <div class="week__item-name" data-item="1">Pirate Jacket</div>
              <img class="week__item-img" data-item="1" src="<%= require('../assets/item__3-1.svg') %>" width="300" height="300">
              <a class="week__button" data-item="1" data-week="3" href="https://www.givecrypto.org/" target="_blank" rel="noopener noreferrer">Give Crypto via GiveCrypto</a>
            </div>
            <div class="week__item" data-item="2" data-week="3">
              <div class="week__item-name" data-item="2">Scuba Suit</div>
              <img class="week__item-img" data-item="2" src="<%= require('../assets/item__3-2.svg') %>" width="300" height="300">
              <a class="week__button" data-item="2" data-week="3" href="https://compound.finance/" target="_blank" rel="noopener noreferrer">Earn Interest via Compound</a>
            </div>
            <div class="week__item" data-item="3" data-week="3">
              <div class="week__item-name" data-item="3">Water Wings</div>
              <img class="week__item-img" data-item="3" src="<%= require('../assets/item__3-3.svg') %>" width="300" height="300">
              <a class="week__button" data-item="3" data-week="3" href="https://godsunchained.com/?refcode=0x48dbb9b7b562acf3c38e53deaff4686e24c3d85d" target="_blank" rel="noopener noreferrer">Get Gods Unchained Cards</a>
            </div>
          </div>
        </article>

        <div class="week-controls__wrapper">
          <a class="week-controls__prev">
            <img src="<%= require('../assets/icon__prev.svg') %>" width="auto" height="16px" />
            &nbsp; Previous
          </a>
          <div class="week__dots">
            <a class="week__dot" data-weekstep="1" data-state="selected"></a>
            <a class="week__dot" data-weekstep="2"></a>
            <a class="week__dot" data-weekstep="3"></a>
          </div>
          <a class="week-controls__next">
              Next &nbsp;
              <img src="<%= require('../assets/icon__next.svg') %>" width="auto" height="16px" />
          </a>
        </div>

      </div>
    </div>
  </main>

  <div class="week-3__ship-back" data-weekstep="1">
    <img src="<%= require('../assets/week__bg--3-1-ship-back.svg') %>" width="100%" height="auto">
  </div>
  <div class="character__wrapper">
    <img inline src="src/assets/character.svg">
  </div>
  <div class="week-3__ship-front" data-weekstep="1">
    <img src="<%= require('../assets/week__bg--3-1-ship-front.svg') %>" width="100%" height="auto">
  </div>

  <section class="modal">
    <div class="modal__wrapper">
      <a href="#" class="modal__close">
      <img class="modal__button-icon" src="<%= require('../assets/icon__close.svg') %>" width="24" height="24">
    </a>
      <div class="modal__inner">
        <h3 class="modal__title">Congrats!</h3>
        <p class="modal__text"></p>
        <img class="modal__item" src="" width="300" height="300">
        <p class="modal__cta">Share your progress and new item with <a href="https://twitter.com/search?q=%23MyCryptoSummer" target="_blank" rel="noopener noreferrer">#MyCryptoSummer</a> to be entered to win prizes!</p>
        <a class="modal__button" href="#" rel="noopener noreferrer" target="_blank">
        <img class="modal__button-icon" src="<%= require('../assets/icon__twitter.svg') %>" width="24" height="24">
        Share on Twitter
      </a>
        <a class="modal__alt-cta" href="/">Return Home</a>
      </div>
    </div>
  </section>

  <div class="guide__3">
    <img src="<%= require('../assets/guide--3.svg') %>" width="100%" height="auto" />
  </div>

</body>

</html>
