body.home {
  background-color: $sand;
  padding-bottom: 7rem;
}

.hero {
  font-family: 'Avenir Next', sans-serif;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 60vw;
  background-color: $sand;
  padding: 2vw;
  @include bp(screen-sm-min) {
    background-image: url('./../assets/home-bg.svg');
  }

  @include bp(screen-sm) {
    min-height: 100vh;
    background-image: url('./../assets/home-bg--mobile.svg');
  }
}

.mycryptosummer__logo {
  max-width: 15vw;
  width: 100rem;
  display: block;
  height: auto;
  margin-bottom: $space-sm;
  @include bp(screen-sm) {
    width: 9em;
    max-width: 9em;
    margin: 1vw;
  }
}

.hero__wrapper {
  display: flex;
  @include bp(screen-sm) {
    flex-direction: column-reverse;
  }
}

.hero__left {
  width: 38%;
  @include bp(screen-sm) {
    width: 100%;
  }
}

.hero__title {
  color: $blue;
  font-weight: 900;
  font-size: 5.6vw;
  line-height: 0.9;
  margin: 1rem 0;
  max-width: 8rem;
  text-transform: uppercase;
  @include bp(screen-sm) {
    display: none;
  }
}

.hero__title--mobile {
  color: $blue;
  font-weight: 700;
  font-size: $font-size-sm;
  margin: 0 0 $space-sm;
  line-height: 1.2;
  @include bp(screen-sm-min) {
    display: none;
  }
}

.hero__text {
  color: $gray-md;
  line-height: 1.5;
}

.partner__title {
  color: $blue;
  font-weight: 700;
  font-size: $font-size-sm;
  margin: $space-sm 0;
}

.partner__link {
}

.partner__logo {
  height: auto;
  width: 13vw;
  min-width: 8.75rem;
  max-width: 12.25rem;
  transition: transform 50ms ease;
  &:hover {
    transform: rotate(-1deg) scale(1.05);
    transition: transform 50ms ease;
  }
}

.hero__right {
  flex: 1;
  @include bp(screen-sm) {
    position: relative;
    margin: 1vh 0 5vh;
  }
}

.secret-treasure__wrapper {
  @include bp(screen-sm-min) {
    position: absolute;
    top: 24vw;
    right: 19vw;
  }
  position: relative;
  height: 109px;
  top: 5vh;
}

.secret-treasure__tooltip {
  background: #2a455f;
  color: white;
  padding: 0.7em 1em;
  width: 10rem;
  position: absolute;
  left: -2rem;
  transform: translate(0, -105%);
  line-height: 1.2;
  font-size: 0.9em;
  border-radius: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 100ms;
  a,
  a:hover {
    color: white;
  }
  &:after {
    content: '';
    border-top: 13px solid $navy;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    bottom: -10px;
    right: 20px;
  }
  &:before {
    content: '';
    position: absolute;
    top: -3rem;
    right: -3rem;
    left: -3rem;
    bottom: -3rem;
    z-index: -1;
  }
  @include bp(screen-sm) {
    right: 0;
    left: auto;
    top: 7vh;
  }
}

.secret-treasure--unavailable {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  transition: transform 50ms ease;
  &:hover {
    transform: rotate(1deg) scale(1.05);
    transition: transform 50ms ease;
  }
  @include bp(screen-sm) {
    right: 0;
    left: auto;
    top: 7vh;
  }
}

.secret-treasure--available:hover + .secret-treasure__tooltip,
.secret-treasure--unavailable:hover + .secret-treasure__tooltip,
.secret-treasure__tooltip:hover {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: opacity ease 100ms;
}

.secret-treasure--available {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  transition: transform 50ms ease;
  &:hover {
    transform: rotate(1deg) scale(1.05);
    transition: transform 50ms ease;
  }
  @include bp(screen-sm) {
    right: 0;
    left: auto;
    top: 7vh;
  }
}

.secret-treasure--flag {
  position: absolute;
  left: 2rem;
  top: -7rem;
  width: 90px;
  height: auto;

  @include bp(screen-sm) {
    right: 0;
    left: auto;
    top: 7vh;
  }
}

.home .character__wrapper {
  position: relative;
  @include bp(screen-sm-min) {
    position: absolute;
    top: 19rem;
    right: 17rem;
  }
  @include bp(screen-xl-min) {
    top: 20rem;
    right: 21rem;
  }
  @include bp(screen-sm) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.home .character__wrapper .character {
  height: auto;
  @include bp(screen-sm-min) {
    width: 22vw;

    position: absolute;
    right: 2vw;
    top: -2vw;
  }
  @include bp(screen-sm) {
    width: 50vw;
  }
}

.character-choice {
  @include bp(screen-sm-min) {
    position: absolute;
    top: 10vw;
    right: -8vw;
    width: 13vw;
  }
  @include bp(screen-sm) {
    width: 35vw;
    position: relative;
    top: 5vh;
  }
}

.character-choice__text {
  display: block;
  width: 100%;
  height: auto;
}

.character-choice__button {
  display: block;
  position: relative;
  left: -0.5rem;
  top: 0.25rem;
  cursor: pointer;
  transition: transform 50ms ease;
  width: 70%;
  height: auto;
  &:hover {
    transform: scale(1.02);
    transition: transform 50ms ease;
  }
}

.character__wrapper[data-state='female-selected'] {
  .character--female {
    opacity: 1;
  }
  .character--male {
    opacity: 0;
  }
  .cb__male {
    opacity: 0;
    transform: translate(-38%);
  }
  .cb__female {
    opacity: 1;
    transform: translate(0);
  }
}

.character__wrapper[data-state='male-selected'] {
  .character--male {
    opacity: 1;
  }
  .character--female {
    opacity: 0;
  }
  .cb__male {
    opacity: 1;
    transform: translate(0);
  }
  .cb__female {
    opacity: 0;
    transform: translate(38%);
  }
}

.cb__male,
.cb__female {
  transition: transform 100ms ease;
}

.character,
.character--female,
.character--male {
  transition: opacity 100ms ease;
}

.item {
  opacity: 0;
}

.adventure-bar__wrapper {
  @include bp(screen-sm-min) {
    right: 1vw;
    top: 46vw;
    width: 63vw;
    position: absolute;
  }
}

.adventure-bar__base {
  width: 100%;
  height: auto;
}

.ab__btn-start {
  display: block;
}
.ab__btn-continue {
  display: none;
}
.ab__btn-complete {
  display: none;
}

.ab__btn-base {
  transition: transform 50ms ease;
  cursor: pointer;
  .ab__btn {
    transition: transform 50ms ease;
    pointer-events: none;
  }
  &:hover {
    transform: scale(1.02) translate(-4px, -4px);
    transition: transform 50ms ease;
    .ab__btn {
      transform: scale(1.01) translate(-2px, 0px);
      transition: transform 50ms ease;
    }
  }
}

.ab__complete--1,
.ab__complete--2,
.ab__complete--3,
.ab__complete--4 {
  display: none;
}

.ab__btn-base.state--unavailable {
  pointer-events: none;
  cursor: not-allowed;
  path {
    filter: grayscale(100%);
  }
}
