body.week {
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-position: center top;
  padding: 0 1vw 1vw;
}

body.week__1 {
  background-color: $sand;
  background-image: url('./../assets/week__bg--1.svg');
}

body.week__2 {
  background-color: #047a97;
  background-image: url('./../assets/week__bg--2.svg');
  background-size: cover;
  padding-bottom: 0;
}

body.week__3 {
  background-color: #047a97;
  background-image: url('./../assets/week__bg--3-1.svg');
  background-size: cover;
  padding-bottom: 0;
}

body.week__4 {
  background-color: #047a97;
  background-image: url('./../assets/week__bg--4-1.svg');
  background-size: cover;
  padding-bottom: 0;
}

.week__header {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  height: 20vh;
  @include bp(screen-sm) {
    flex-direction: column;
  }
}
.week__filler--1,
.week__logo--1 {
  flex: 1;
  margin: 0;
  min-width: 14vw;
  height: auto;
  display: flex;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    flex: 1;
    margin: 1vw auto;
    width: 40vw;
    height: auto;
  }
}

.week__filler--1 {
  @include bp(screen-sm) {
    display: none;
  }
}

.week__progress {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 60vw;
  max-width: 60vw;
  margin: 0 3vw;
  @include bp(screen-sm) {
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
  }
}
.week__inner-wrapper {
  background: white;
  border: 0.3rem solid #fccb56;
  display: flex;
  flex-direction: column;
  margin: 4vw auto 1vw;
  width: 55vw;
  min-height: 65vh;
  padding: 4vw 3vw;
  position: relative;
  box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.3);
  @include bp(screen-sm) {
    margin: 7vh 5vw;
    width: 90vw;
    padding-bottom: 21vh;
    padding-top: 10vw;
  }
}

.week__2 .week__inner-wrapper {
  margin-bottom: 10vh;
}

.week__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.week__title {
  position: absolute;
  top: -7.5vw;
  left: 49%;
  transform: translateX(-50%);
  width: 12vw;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    margin-top: -3vh;
    top: -11.5vw;
    width: 32vw;
  }
}

.week .character__wrapper {
  pointer-events: none;
  .character {
    width: 23vw;
    height: auto;
    position: absolute;
    left: -23vw;
    bottom: -3vw;
    top: auto;
    @include bp(screen-sm) {
      bottom: -7vw;
      height: auto;
      left: -9vw;
      position: fixed;
      top: auto;
      width: 43vw;
    }
  }
}

.guide__wrapper {
  width: 25vw;
  height: auto;
  pointer-events: none;
  right: 1vw;
  bottom: 1vw;
  position: absolute;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    display: none;
  }
}

.guide__wrapper--mobile {
  display: none;
  width: 25vw;
  height: auto;
  pointer-events: none;
  right: 1vw;
  bottom: 1vw;
  position: fixed;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    display: block;
  }
}

.shell__wrapper {
  width: 6vw;
  height: auto;
  position: absolute;
  left: -6vw;
  bottom: -6vw;
  pointer-events: none;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    position: fixed;
    left: 1vw;
    bottom: 1vw;
  }
}

.week-controls__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: $space;
}

.week__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.week__item {
  padding: 0.25rem;
  width: 100%;
  &:first-child {
    margin-left: -($space-sm);
  }
  &:last-child {
    margin-right: -($space-sm);
  }
  @include bp(screen-sm) {
    width: 100%;
  }
}

.week__item-img {
  width: 85%;
  height: auto;
  border-radius: 100%;
  padding: 7%;
  background: white;
  margin-bottom: 1rem;
  border: 3px solid white;
  transition: all ease 100ms;
  cursor: pointer;
  @include bp(screen-sm) {
    width: 100%;
    padding: 0;
  }
}

.week__item:hover .week__item-img,
.state--highlighted .week__item-img {
  border: 3px solid #ebb640;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.37);
  transition: all ease 100ms;
}

.week__text {
  display: none;
}
.week__text[data-state='selected'] {
  display: block;
}

.week__1 {
  .ab__complete--1 {
    display: block;
  }
  .ab__complete--2,
  .ab__complete--3,
  .ab__complete--4 {
    display: none;
  }
}

.week__2 {
  .ab__complete--2,
  .ab__complete--1 {
    display: block;
  }

  .ab__complete--3,
  .ab__complete--4 {
    display: none;
  }
}

.week__3 {
  .ab__complete--2,
  .ab__complete--3,
  .ab__complete--1 {
    display: block;
  }
  .ab__complete--4 {
    display: none;
  }
}

.week__4 {
  .ab__complete--1,
  .ab__complete--2,
  .ab__complete--3,
  .ab__complete--4 {
    display: block;
  }
}

.week-controls__wrapper {
  font-weight: 500;
  color: $blue;
  letter-spacing: 0.1px;
  text-align: center;
  line-height: 1;
}

.week-controls__prev {
  transition: all ease 100ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    transition: all ease 100ms;
  }
}

.week-controls__next {
  transition: all ease 100ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    transition: all ease 100ms;
  }
}

.week__dot {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  border: 2.5px solid $blue;
  background-color: white;
  display: inline-block;
  margin: 0.25rem;
  cursor: pointer;
  transition: all ease 100ms;
}

.week__dot[data-state='selected'],
.week__dot:hover {
  background-color: $blue;
  transition: all ease 100ms;
}

.week__item-name {
  font-size: $font-size-xs;
  color: $blue;
  letter-spacing: 0.01rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.week__button {
  background-image: linear-gradient(0deg, #007c9b 11%, #01b0de 88%);
  border-radius: 0.1rem;
  border: 0.25rem solid #dda62c;
  box-shadow: 0 2px 6px 0 rgba(2, 3, 5, 0.37);
  color: white;
  display: block;
  font-size: $font-size-xs;
  padding: 0.9rem 0.5rem;
  transition: all ease 100ms;
  line-height: 1.2;
}

.week__button:hover {
  background-image: linear-gradient(0deg, #00a3cc 11%, #16cffe 88%);
  box-shadow: 0 2px 2px 0 rgba(2, 3, 5, 0.17);
  border-color: #e4b858;
  transition: all ease 100ms;
  text-decoration: none;
  color: white;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 100ms;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
  transition: opacity ease 100ms;
}

.guide__2-1,
.guide__2-2,
.guide__2-3 {
  width: 16vw;
  height: auto;
  overflow: hidden;
  display: none;
  pointer-events: none;
  right: 10vw;
  position: fixed;
  bottom: 0;
  img {
    margin-bottom: -2vh;
  }
  &[data-state='selected'] {
    display: block;
  }
  @include bp(screen-sm) {
    right: -32vw;
    width: 32vw;
    bottom: 0;
    margin: 0;
    right: 0;
    position: fixed;
  }
}

.guide__3 {
  width: 16vw;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  right: 10vw;
  position: fixed;
  bottom: 0;
  img {
    margin-bottom: -5vh;
  }
  @include bp(screen-sm) {
    right: -32vw;
    width: 32vw;
    bottom: 0;
    margin: 0;
    right: 0;
    position: fixed;
  }
}

.ill__week--2-1 {
  position: absolute;
  right: 1vw;
  top: 58vh;
  width: 37vw;
  left: auto;
  display: none;
  pointer-events: none;
  &[data-state='selected'] {
    display: block;
  }
}
.ill__week--2-2 {
  position: absolute;
  top: 38vh;
  width: 38vw;
  right: 0;
  display: none;
  pointer-events: none;
  &[data-state='selected'] {
    display: block;
  }
}
.ill__week--2-3 {
  position: absolute;
  right: 0;
  width: 80vw;
  top: 0;
  display: none;
  pointer-events: none;
  &[data-state='selected'] {
    display: block;
  }
  @include bp(screen-sm) {
    width: 100vw;
    top: 8vh;
  }
}
.ill__week--2 {
  position: absolute;
  left: 0;
  top: 0;
}

.week .week-ship__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30vw;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  .week-ship__image {
    margin-left: -4vw;
    width: 100%;
    height: auto;
    margin-top: 10vh;
  }
  @include bp(screen-sm) {
    z-index: -1;
    width: 50vw;
    top: 40vh;
  }
}

.week.week__2 .character__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 23vw;
  pointer-events: none;
  display: flex;
  align-items: center;
  @include bp(screen-sm) {
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0;
    width: 57vw;
  }
  .character {
    width: 100%;
    height: auto;
    position: static;
    left: auto;
    bottom: auto;
    top: auto;
    @include bp(screen-sm) {
      top: auto;
      margin-left: -5vw;
      margin-bottom: -6vh;
    }
  }
}

.week__3 .character__wrapper .character {
  left: 2vw;
  bottom: 12vh;
  top: auto;
  width: 27vw;
  @include bp(screen-sm) {
    left: -6vw;
    bottom: -7vh;
    top: auto;
    width: 57vw;
  }
}

.week__3 .character__wrapper.step--2 .character {
  bottom: 0vh;
  @include bp(screen-sm) {
    bottom: -7vh;
  }
}
.week__3 .character__wrapper.step--3 .character {
  left: 5vw;
  bottom: 0;
  @include bp(screen-sm) {
    left: -6vw;
    bottom: -7vh;
  }
}

.week-3__ship-back,
.week-3__ship-front {
  img {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 47vw;
    height: auto;
  }
  display: none;
  &[data-state='selected'] {
    display: block;
  }
  @include bp(screen-sm) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: auto;
    z-index: -1;
  }
}

.week__3 .week__main {
  padding: 5vh 2vw;
}

.week__3 .week__inner-wrapper {
  margin: 0 auto;
}

.week__4 .character__wrapper .character {
  left: 0;
  bottom: 0;
  top: auto;
  width: 25vw;
  position: fixed;
  @include bp(screen-sm) {
    width: 57vw;
    bottom: -6vh;
  }
}

.week__4 .character__wrapper.step--3 .character {
  left: auto;
  right: 0;
  bottom: 0;
  top: auto;
  width: 25vw;
  position: fixed;
  @include bp(screen-sm) {
    width: 57vw;
    bottom: -6vh;
  }
}

.week__4 .character__wrapper.step--3 + .guide__3 {
  left: 0;
  right: auto;
}
