body.week__1 {
  background-color: $sand;
  background-image: url('./../assets/week__bg--1.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-position: center top;
  padding: 0 1vw 1vw;
}

.week__header {
  display: flex;
  justify-content: center;
  align-content: center;
  @include bp(screen-sm) {
    flex-direction: column;
  }
}
.week__filler--1,
.week__logo--1 {
  flex: 1;
  margin: 0;
  min-width: 14vw;
  height: auto;
  display: flex;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    flex: 1;
    margin: 1vw auto;
    width: 50vw;
    height: auto;
  }
}

.week__filler--1 {
  @include bp(screen-sm) {
    display: none;
  }
}

.week__progress--1 {
  display: flex;
  width: 100%;
  height: auto;
}
.week__inner-wrapper {
  background: white;
  border: 0.3rem solid #fccb56;
  display: flex;
  flex-direction: column;
  margin: 4vw auto 1vw;
  width: 55vw;
  min-height: 65vh;
  padding: 5vw 4vw 2vw;
  position: relative;
  @include bp(screen-sm) {
    width: 92vw;
    padding: 11vw 6vw 42vw 6vw;
  }
}

.week__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.week__title {
  position: absolute;
  top: -7.5vw;
  left: 49%;
  transform: translateX(-50%);
  width: 12vw;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    margin-top: -10.5vw;
    top: -7.5vw;
    width: 32vw;
  }
}

.week__1 .character__wrapper {
  pointer-events: none;
  .character {
    width: 23vw;
    height: auto;
    position: absolute;
    left: -23vw;
    bottom: -3vw;
    top: auto;
    @include bp(screen-sm) {
      bottom: -7vw;
      height: auto;
      left: -9vw;
      position: fixed;
      top: auto;
      width: 43vw;
    }
  }
}

.guide__wrapper {
  width: 25vw;
  height: auto;
  pointer-events: none;
  right: 1vw;
  bottom: 1vw;
  position: absolute;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    display: none;
  }
}

.guide__wrapper--mobile {
  display: none;
  width: 25vw;
  height: auto;
  pointer-events: none;
  right: 1vw;
  bottom: 1vw;
  position: fixed;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    display: block;
  }
}

.shell__wrapper {
  width: 6vw;
  height: auto;
  position: absolute;
  left: -6vw;
  bottom: -6vw;
  pointer-events: none;
  img {
    width: 100%;
    height: auto;
  }
  @include bp(screen-sm) {
    position: fixed;
    left: 1vw;
    bottom: 1vw;
  }
}

.week-controls__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: $space;
}

.week__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.week__item {
  padding: 0.25rem;
  width: 100%;
  &:first-child {
    margin-left: -($space-sm);
  }
  &:last-child {
    margin-right: -($space-sm);
  }
  @include bp(screen-sm) {
    width: 100%;
  }
}

.week__item-img {
  width: 85%;
  height: auto;
  border-radius: 100%;
  padding: 7%;
  background: white;
  margin-bottom: 1rem;
  border: 3px solid white;
  transition: all ease 100ms;
  cursor: pointer;
  @include bp(screen-sm) {
    width: 100%;
    padding: 0;
  }
}

.week__item:hover .week__item-img,
.state--highlighted .week__item-img {
  border: 3px solid #ebb640;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.37);
  transition: all ease 100ms;
}

.week__text {
  display: none;
}
.week__text[data-state='selected'] {
  display: block;
}

.week__1 {
  .ab__complete--1 {
    display: block;
  }
  .ab__complete--2,
  .ab__complete--3,
  .ab__complete--4 {
    display: none;
  }
}

.week-controls__wrapper {
  font-weight: 500;
  color: $blue;
  letter-spacing: 0.1px;
  text-align: center;
  line-height: 1;
}

.week-controls__prev {
  transition: all ease 100ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    transition: all ease 100ms;
  }
}

.week-controls__next {
  transition: all ease 100ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    transition: all ease 100ms;
  }
}

.week__dot {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  border: 2.5px solid $blue;
  background-color: white;
  display: inline-block;
  margin: 0.25rem;
  cursor: pointer;
  transition: all ease 100ms;
}

.week__dot[data-state='selected'],
.week__dot:hover {
  background-color: $blue;
  transition: all ease 100ms;
}

.week__item-name {
  font-size: $font-size-xs;
  color: $blue;
  letter-spacing: 0.01rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.week__button {
  background-image: linear-gradient(0deg, #ffd166 11%, #fef4dc 88%);
  border-radius: 0.1rem;
  border: 0.25rem solid #dda62c;
  box-shadow: 0 2px 4px 0 rgba(2, 3, 5, 0.37);
  color: #163150;
  display: block;
  font-size: $font-size-xs;
  padding: 0.9rem 0.5rem;
  transition: all ease 100ms;
}

.week__button:hover {
  background-image: linear-gradient(0deg, #057a97 11%, #00aed9 88%);
  box-shadow: 0 2px 4px 0 rgba(2, 3, 5, 0.37);
  color: white;
  transition: all ease 100ms;
  text-decoration: none;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 100ms;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
  transition: opacity ease 100ms;
}
